node_modules
npm-debug.log
.env
.env.*
.DS_Store
.vscode
.git
.gitignore
README.md
dist
coverage
*.log
test
.eslintcache
.prettierrc
eslint.config.mjs
tsconfig.json
tsconfig.build.json
jest.config.js
test/
src/